* {
    margin: 0;
    padding: 0;    
}

body {
    margin: 0px;
    height: 100%;
}

.container{
    min-height: 100%;
}

/*---NavBar---*/
.navbar{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    background: rgba(94, 121, 148, 0.6);
    z-index: 2;
    /*overflow: hidden;    
    border: 1px #cccccc;
    width: 100%;
    height: 60px;    
    display: inline-block;*/
    }

header {
    background: rgba(112, 128, 144, .3);
    z-index: 1;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.pg-tabs {
    float: right;
    /*position: sticky;
    overflow: hidden;
    color: whitesmoke;
    list-style-type: none;
    display: inline;
    padding: 0px;
    text-decoration: none;
    overflow: hidden;
    font-size: 24px;
    margin: 0px;*/
}

/*.pg-tabs a:hover {
    background-color: darkgreen;
    color: black;
}*/


.nav-logo{
    float: left;
    padding: 10px 30px;
    width: 100px;
    /*margin-left: 50px;*/
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0px 50px;
    padding-top: 25px;
    position: relative;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

.animation {
    width: 85%;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    z-index: -1;
    border: none;
}

/*li{
    float: right;
    z-index: 3;
}*/
/*----Footer----*/
footer{
    clear: both;
    position: static;
    margin-top: 0px;
    margin-right: 0px;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    padding-top: 5px;
    border: none;
    background: slategray;
    font-size: 10px;
    color: white;
    text-align: center;
}

.banner {
    background: darkgreen;
    height: 250px;
    width: 100%;
    display: flex;
}
/* redesign in flex to get everything in line on a smaller banner. */
/*.banner img{
    /*clear: both;    
    position: relative;
    background: darkgreen;
   /* margin-top: 200px;
    margin-bottom: 0px;
    margin-right: 0px;
    border: none;
    /*vertical-align: middle;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    z-index: 0;*/
    

.ban-logo {
    float: left;
    /*width: 150px;*/
    height: 230px;
    margin-left: 75px;
    margin-top: 0;
}

.ban-msg {
   /* float: right; */
    position: static;
    text-align: center;
    margin-top: 50px;
    margin-left: 200px;
    line-height: 30px;
    text-decoration: none;
}
/*
.ban-msg a {
    position: static;
    margin-left: 400px;
    text-decoration: none;
    color: whitesmoke;
}
*/
.ban-img {
    position: static;
    float: right;
    /*margin-top: -135px;*/
    margin-left: 120px;
    height: 250px;
    /*width: auto;*/    
}

.head-ban {
    margin-top: 125px;
    margin-bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background: slategray;
}

.head-ban2 {
    margin: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    background: slategray;
}

/*--- Home Page Specific ---*/

.description {
    text-align: center;
    margin: 25px 150px;
}

.hm-pg-img {
    margin-left: 125px;
}
/*Apartment Page specific*/
.head-ban2{

}
.plan-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin: 60px 150px;
    /*display: grid;
    grid-template-columns: repeat(auto-fit);
    grid-column-gap: 25px;*/
}

.apt-content{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin: 60px 100px;
    padding: 100px;
    background: slategray;
    text-align: justify;
}
.apt-con-container{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    order: 1;
    margin-top: 20px;
    width: 50%;
    /*margin-right: 600px;*/
    font-size: 24px;
    font-weight: 400;
}
.apt-ul-container{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    order: 2;
    margin: 20px 75px;
    width: 30%;
    /*margin-left: 600px;*/
    font-size: 24px;
    font-weight: 400;

}
.plan-head {
    margin-top: 60px;
    margin-bottom: 0;
    text-align: center;
}
.plan-img {
    margin: 25px;
}

.overhead {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Amenities Page Specific */

.amenities-main {
    display: flex;
    height: 100%;
}

.amenities {
    width: 30%;
    margin: 40px;    
    padding: 100px;
    font-size: 18px;
    line-height: 30px;
    background: slategray;
}

.amenities-content {
    margin: 0;    
    background: slategray;
    padding: 40px;
    font-size: 24px;
}

.amenities ul {
    padding-left: 30px;
}

.amen-list-head {
    margin-bottom: 25px;
}

.disclaimer {
    font-size: 14px;
}
.amenities-img {
    width: 50%;
    margin: 0;
    padding: 40px;
}

.amen-rt-al-img {
    height: 100%;
    width: 700px;
}

.amenities-button {
    display: inline-block;
    /*margin-top: 30px;*/
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
    /*line-height: 30px;*/
    background-color: darkgreen;
    text-decoration: none;
    border: none; 
}

.amenities-button:hover {
    box-shadow: 50px 75px, rgba(112, 128, 144, .3);
  }

  /*Community Page Specific*/

  .comm-main {
    display: flex;
    height: 100%;
}

.comm-info {
    width: 30%;
    margin: 40px;
    padding: 100px;
    font-size: 18px;
    line-height: 30px;
    background: slategray;
}

.comm-img {
    width: 40%;
    margin: 0;
    padding: 40px;
}

.comm-lft-al-img {
    width: 95%;
    height: 100%;
}

/* Contact Form */

.contact-container {

}

.contact-msg {
    display: flex;
    height: 20%;
    background: slategray;
    margin-top: 0;
}

.contact-instr {
    width: auto;
    text-align: justify;
    margin: auto;
}

.contact-info {
    text-align: center;
    margin-bottom: 25px;
    padding: 20px;
    /*line-height: 24px;*/
    /*position: static;
    text-align: center;*/
    margin-top: 25px;
    margin-right: 150px;
    /*margin-left: 200px;*/
    line-height: 30px;
    text-decoration: none;
}

.contact-form {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 60px;
    border: solid 1px;

}

.contact-form input{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;      
}